/* Item list */
#item-list {
  /*background-color: lightblue;*/
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 10px;
  padding-top: 10px;
}
/* Single item */
.item {
  box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.5);
  margin-right: 10px;
  margin-bottom: 10px; 
  padding: 10px;
  width: 80%;
  height: auto;
  background-color: white;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "img name"
  "img cat"
  "img old_price"
  "img new_price"
  "img discount"
  "img date"
  "img cond";
}
.item:hover {
  outline: 1px dashed black;
}
.item-img {
  height: 130px;
  margin-right: 10px;
  grid-area: img;
}
.item-img>img {
  height: 100%;
}
.item-name {
  grid-area: name;
}
.item-cat {
  grid-area: cat;
}
.item-old-price {
  color: rgb(132, 132, 132);
  text-decoration: line-through;
  grid-area: old_price;
}
.item-new-price {
  color: red;
  grid-area: new_price;
}
.item-discount {
  grid-area: discount;
}
.item-date {
  grid-area: date;
}
.item-cond {
  grid-area: cond;
}

@media screen and (min-width: 768px) {
  #item-list {
    grid-template-columns: 1fr 1fr;
  }
  .item {
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  #item-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item {
    width: auto;
  }
}