hr {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid rgb(140, 140, 140);
}
.item {
  position: relative;
  width: 280px;
  height: 440px;
  padding: 5px;
  background-color: white;
  box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.5);
}
.item:hover {
  outline: 1px solid black;
}
.item-description {
  margin-bottom: 10px;
}
.item-description:hover {
  /* TODO */
  background-color: coral;
  cursor: default;
}
.item-name {
  margin-bottom: 5px;
}
.item-category {
  color: #757575;
}
.item-img {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 250px;
  height: 250px;
}
.item-price-container {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item-old-price {
  color: rgb(97, 97, 97);
  text-decoration: line-through;
}
.item-new-price {
  font-size: 1.5em;
}
.item-conditions {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.add-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px;
}
.item-discount {
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(244, 209, 66);
  display: inline-block;
}
