* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
.header {
  grid-area: hr;
  background-color: rgb(204, 153, 255);
}
.content {
  grid-area: ct;
}
.footer {
  background-color: gray;
  height: 50px;
}
.logo {
  padding: 10px;
  text-align: center;
  font-size: 180%;
}
.top-navbar {
  font-size: font-size: 120%;
  text-align: center;
}
.top-navbar ul {
  list-style-type: none;
}
.top-navbar li {
  display: inline-block;
}
.top-navbar a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
}
.top-navbar a:hover {
  background-color: rgb(153, 51, 255);
  color: white;
}



.grid {
  display: grid;
  /*grid-gap: 5px;*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "hr hr"
  "ct ct";
}
@media screen and (min-width: 768px) {
  .grid {
    background-color: lightblue;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    grid-template-areas: 
    "hr hr hr hr hr hr"
    ". ct ct ct ct .";
  }
}



/*.grid div:nth-child(even) {
    background-color: red;
}

.grid div:nth-child(odd) {
    background-color: green;
}*/
